*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

body{
    background-image: url("ground.jpg");
    background-attachment: fixed;   
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

ul{
    float: right;
    list-style-type: none;
    margin: -140px;
    margin-right: -3%;
} 


ul li{
    display: inline-block;
}


ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #2e3f40;
    color: #fff;
}

ul li.active a{
    background-color: #2e3f40;
    color: #fff;
}
.logo img{
    float: left;
    width: 150px;
    height: auto;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.intro{
    text-align: center;
    margin-left: -5%;
    font-size: 30px;
    color:black ;
}
.centered{
    text-align: center;
    margin-left: -5%;
    color:whitesmoke;
    font-size: 30px;
    margin: 1em;
}

.blue{
    color: #6b2f0b;
    font-size: 30px;
}

 .img2{
     float: right;
     width: 100px;
     height: 100px;
 }

 .img3{
     float: right;
     width: 135px;
     height: 135px;
 }

    

